<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidmusyst">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sol_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMusyst">
        <activity android:name=".presentationTier.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentationTier.AuthorActivity"
            android:label="@string/author_label">

        </activity>

        <activity
            android:name=".presentationTier.AlbumActivity"
            android:label="@string/album_label">

        </activity>

        <activity
            android:name=".presentationTier.PlaylistActivity"
            android:label="@string/playlist_label">

        </activity>
    </application>

</manifest>